Pokemon - Gotta Catch them all - Study !

In [2]:
import numpy as np #import numpy
import pandas as pd #importing pandas
import matplotlib.pyplot as plt #importing matplotlib
import seaborn as sns #importing seaborn
%matplotlib inline #plotting inline - only for the notebook

In [16]:
df = pd.read_csv('300k.csv')

In [17]:
df.head()

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,9645139108510564000,9645139108711890000,9645139108443455000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,9645139109852742000,9645139109785633000,9645139110590940000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,9923201472785285000,9923201472986612000,9923201473791918000,9923201477013144000,9923201481308110000,...,False,False,False,False,False,False,False,False,False,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,6093392705025474600,6093392705092583400,6093392705897889800,6093392702676664300,6093392715561566200,...,False,False,False,False,False,False,False,False,False,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,6093392707709829100,6093392707776938000,6093392708045373400,6093392711266598900,6093392715561566200,...,False,False,False,False,False,False,False,False,False,133

In [18]:
df['pokemonId'].value_counts().head(5) # Top 5 pokemons

16     52114
19     39637
13     27367
21     12337
133    11740
Name: pokemonId, dtype: int64

In [23]:
df['appearedTimeOfDay'].value_counts().head(5) #top times the pokemon would appear

night        147990
morning       59890
afternoon     45958
evening       42183
Name: appearedTimeOfDay, dtype: int64

In [25]:
df['appearedDayOfWeek'].value_counts()

Saturday     72201
Friday       68037
Wednesday    60115
Thursday     54257
Sunday       32056
dummy_day     9001
Tuesday        354
Name: appearedDayOfWeek, dtype: int64

In [ ]:
sns.distplot(df['appearedDayOfWeek'])